<% include partials/_header-boilerplate %>

<h1>Create a new camp</h1>

<form action="/camps" method="POST">
  <input type="text" name="camp" placeholder="Create a new camp here">
  <button>Submit</button>
</form>

<a href="/camps">Return</a>

<% include partials/_footer-boilerplate %>
